<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274664192456-hrg1fqklekao350uvq36dubskpn8d2lt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274664192456-hrg1fqklekao350uvq36dubskpn8d2lt</string>
	<key>API_KEY</key>
	<string>AIzaSyCIxPvAltw8kK6SPxAB0GmuF0XBdMOenOE</string>
	<key>GCM_SENDER_ID</key>
	<string>274664192456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.netflixCloneApp</string>
	<key>PROJECT_ID</key>
	<string>netflix-clone-app-df362</string>
	<key>STORAGE_BUCKET</key>
	<string>netflix-clone-app-df362.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274664192456:ios:850dcbf8ca761be08528fd</string>
</dict>
</plist>